$border-light: solid 1px rgba($color-primary-1-dark, 0.55);
$outline-light: 1px solid rgba($color-primary-1-dark, 0.75);
$outline-dark: 4px solid rgba($color-primary-4-dark, 0.95);


.auth, .app {

    &--theme {
        &__light {
            background-color: #fff;
            color: rgba($body-font-color-light, 0.85);
        }

        &__dark {
            background-color: $body-background-color;
            color: rgba($body-font-color, 0.85);
        }
    }
}

.header {

    &--theme {

        &__light {
            background: linear-gradient(
                to bottom,
                #fff,
                $color-primary-1-light
            );
        }

        &__dark {
            background: linear-gradient(
                to right bottom,
                $color-primary-4-dark,
                $color-primary-3-dark
            );
        }
    }
}

.button {

    &--theme {

        &__light {
            color: rgba($button-font-color-dark, 1);
        }

        &__dark {
            color: rgba($button-font-color, 1);
        }
    }
    
    &--action {
        
        &__light {
            border: $border-light;
            background-color: $color-primary-1-light;
            
            &:hover {
                border-color: $color-primary-1-dark;
                background-color: adjust-color($color-primary-1-light, $red: -10, $green: -10, $blue: 10, );
            }

            &:disabled {
                opacity: 0.5;
            }
        }
        
        &__dark {
            background-color: rgba($action-button-background-color, 1);
        
            &:hover {
                color: rgba($button-font-color, 0.75);
                background-color: rgba($action-button-background-color, 0.85);
            }
    
            &:disabled {
                color: rgba($button-font-color, 0.3);
                background-color: rgba($action-button-background-color, 0.5);
            }
        }
    }

    &--danger {
        background-color: $danger-button-background-color;
        color: $button-font-color;

        &:hover {
            color: rgba($button-font-color, 0.85);
            background-color: rgba($danger-button-background-color, 0.9);
        }
    }

    &--dropdown-item {
        background-color: rgba(0,0,0,0); //transparent
        color: rgba($button-font-color-dark, 1);
        
        &__light {
            color: inherit;
        }
        
        &__dark {
            color: inherit;
        }

        &:hover {
            color: rgba($button-font-color-dark, 0.75);
        }
    }
}

.dropdown {

    background-color: $color-primary-1-light;
    color: $color-primary-1-dark;

    &--theme {

        &__light {
            border: $border-light;
        }
    }
}

.tags {

    &__item {

        &--theme {
            
            &__light {
                border: $border-light;

                &:hover {
                    border-color: $color-primary-1-dark;
                }
            }
            
            &__dark {
                background-color: $tag-background-color;
                color: rgba($tag-color, 0.85);

                &:hover {
                    background-color: rgba($tag-background-color, 0.85);
                }
            }
        }
    }
}

.listTags {

    &__tag {

        &--theme {
            
            &__light {
                border: $border-light;

                &:hover {
                    border-color: $color-primary-1-dark;
                }
            }
            
            &__dark {
                color: rgba($tag-color, 0.85);
                background-color: $tag-background-color;

                &:hover {
                    background-color: rgba($tag-background-color, 0.85);
                }
            }
        }
    }
}

.input {
    
    &--theme {
        
        &__light {
            border: $border-light;

            &:focus {
                outline: $outline-light;
            }
        }
        
        &__dark {
            background-color: rgba($color-primary-1-light, 1);
            color: $color-primary-1-dark;

            &:focus {
                outline: $outline-dark;
            }
        }
    }
}

.search {

    &__input {

        &--theme {

            &__light {
                border: $border-light;

                &:focus {
                    outline: $outline-light;
                }
            }

            &__dark {
                border: $border-light;

                &:focus {
                    outline: $outline-dark;
                }
            }
        }
    }
}

.list {

    &__item {

        &--theme {

            &__light {
                @include separator("light");
            }
    
            &__dark {
                @include separator("dark");
            }
        }
    }
}

.component {

    &__header {

        &--theme {

            &__light {
                @include separator("light");
            }
    
            &__dark {
                @include separator("dark");
            }
        }
    }
}
