$color-primary-1-dark: #041C32;
$color-primary-2-dark: #04293A;
$color-primary-3-dark: #064663;
$color-primary-4-dark: #548CA8;

$color-primary-1-light: #eeeeee;

$color-secondary-1-light: #ECB365;
$color-secondary-2-light: #C69B7B;
$color-secondary-3-light: #F7CCAC;


$body-background-color: $color-primary-1-dark;
$body-font-color: $color-primary-1-light;

// Background color for tags
$tag-background-color: $color-secondary-1-light;
$tag-color: $color-primary-1-dark;
//$tag-color: $color-primary-1-light;

$action-button-background-color: $color-primary-3-dark;
$button-font-color: $color-primary-1-light;

$danger-button-background-color: crimson;
$danger-color: crimson;

body {
    background-color: $body-background-color;
    color: rgba($body-font-color, 0.85);
}

$component-width: 1024px;