@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600;700&family=Comfortaa:wght@400;700&family=Fredoka+One&family=Montserrat:wght@400;600;700&display=swap');


body {
    font-family: 'Alexandria', sans-serif;
}

.brand {
    font-family: 'Montserrat', sans-serif;
}

.list__item__tagsList__item{
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
//    font-family: 'Comfortaa', cursive;
//    font-weight: 700;
}