.error {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    flex-grow: 1;
    margin: 1rem;

    &__header {
        font-size: 4.1rem;
        text-align: center;
    }

    &__image {
        padding: 2rem;
    }

    &__message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        font-size: 2.1rem;

        &--primary {
            font-size: 3.8rem;
        }

        &--secondary {
            font-size: 1.8rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        &--action {
            font-size: 1.6rem;
        }
        
    }
}
