.brand {
    &__text {
        font-size: 2.3rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;

        &--large {
            font-size: 3.8rem;
        }
    }
}