html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

body, #root, .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}