.component-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    width: 95%;
    max-width: $component-width;
    align-self: center;
}

.component {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
		flex-wrap: wrap;
        padding: 10px 0;
        
        &__title {
            font-size: 2rem;
        }
    }
}
