.danger-zone {
    border: 1px solid $danger-color;
    padding: 1rem;
    border-radius: 5px;

    display: flex;
	
	&__text {
		font-size: 2rem;
	}

    &__text-wrapper {
		flex-grow: 1;
	    margin: 2rem;
        display: flex;
        justify-content: center;
    }
}
