.listTags {

    display: flex;
    flex-wrap: wrap;

    &__tag {
        display: flex;
        justify-content: center;
        padding: 1rem 1.4rem 1rem 2rem;
        margin-right: 8px;
        font-size: 1.8rem;
        border-radius: 5rem;
        cursor: default;
        margin-bottom: 8px;
        transition: all 0.3s;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: inherit;
            font-size: 1.6rem;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}